.MenuSection div {
    margin: 0;
    padding: 0;

    position: "fixed";
    top: "20vh";
    left: 0;

    overflow: "auto";

    height: "80vh";
    width: "100vw";
}

.MenuBox div {
    margin: 5px;

    display: inline-block;
}