.MenuItem {
    padding-left: 10px;
    text-align: left;

    border-radius: 5px;

    width: 250px;

    background: none;
    color: black;

    border: 2px black groove;

    cursor: pointer;

}

.MenuItem:hover {
    background-color: black;
    color: white;
}